<div class="container" style="position:absolute">
<h2>USUARIOS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div ng-model="usuario">
  <form ng-submit="saveusuario(usuario)">
  <button type="submit" class="btn btn-primary">Guardar</button>
  <!-- <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
   {{alert.msg}}
  </uib-alert> -->
  <button type="button" class='btn btn-default' ng-click="addAlert()">Add Alert</button>
  <!-- <button type="button" class="btn btn-default" data-placement="left"title="Tooltip on left"onmouseenter="$(this).tooltip('show')">
        </button> -->
  <button class="btn btn-danger">Cancelar</button>
  </h2>

  <ul class="nav nav-tabs">
      <li ng-class="{'active' : activeTab == 1}"><a href="" ng-click="setActiveTab(1)">Nuevo</a></li>
      <li ng-class="{'active' : activeTab == 2}"><a href="" ng-click="setActiveTab(2)">Listar</a></li>
    </ul>
    <div class="tab-content">
      <div ng-class="{'tab-pane active': activeTab === 1, 'tab-pane' : activeTab !== 1}" class="fondo-blanco">
      <!-- Uusuarios -->
      <br />
      
        <table width="100%" border="0" align="center" cellpadding="4" cellspacing="2">
          <thead>
          </thead>
          <tbody>
            <tr>
              <td align="right"><label type="text">Login * :</label></td><td><input type="text" class=""  ng-model="usuario.login" required/> </td>
              <td align="right"><label type="text">Trabajador :</label></td>
              <td> 
                <select ng-model="usuario.id_nombre" required>
                <option value="">-- Seleccione --</option>
                <option ng-repeat="trabajador in trabajadors" value="{{trabajador.id_trabajador}}"  title="" >{{trabajador.nombres}} {{trabajador.apellidos}}</option>
                </select>
              </td>
            </tr>
            <tr>
              <td align="right"><label type="text">Password :</label></td><td> <input type="password" class="" ng-model="usuario.password" required/> </td>
              <td align="right"><label type="text">Firma digital :</label> </td>
              <td colspan="2">
                <input type="file" fileread="usuario.logotipo" name="file[]" uploader-model="file" id ="file" multiple required/>
              <!-- vista previa imagen -->
                <img src="{{usuario.logotipo}}" width="100" width="100" >
              </td>
            </tr>
            <tr>
              <td align="right"><label type="text" >Grupo de Usuario : </label></td>
              <td>
                <select name="sucursal" id="sucursal" ng-model="usuario.grupo_usuario">
                  <option value="" selected="selected">-- Seleccione --</option>
                  <option value="Administrador" > Administrador </option>
                  <option value="Inventario" > Inventario </option>
                  <option value="R.R.H.H." > R.R.H.H. </option>
                  <option value="Ventas" > Ventas </option>
                  <option value="Contabilidad" > Contabilidad </option>
                  <option value="Activo" > Activo </option>
                </select>
              </td>
              <td align="right"><label type="text">Sucursal : </label></td>
              <td>
                 <select ng-model="usuario.id_sucursal" required>
                <option value="">-- Seleccione --</option>
                <option ng-repeat="sucursal in sucursals" value="{{sucursal.id_sucursal}}"  title="" >{{sucursal.nombre_comercial}}</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>
                
              </td>
            </tr>
          </tbody>
        </table>
      </form>
      </div>
      <div ng-class="{'tab-pane active': activeTab === 2, 'tab-pane' : activeTab !== 2}" class="fondo-blanco">
      <!-- LISTAR -->
      <br />
      <div class="col-md-12">
        Buscar: <input type="text" placeholder="Buscar" ng-model="buscador" value="" size="30">
      </div>

        <table width="100%" border="0" align="center" cellpadding="4" cellspacing="2" class="table-responsive">
          <thead>
          <th>N°</th>
          <th>Nombres</th>
          <th>Login</th>
          <th>Sucursal</th>
          <th>Grupo Usuario</th>
          <th>Fecha Creación</th>
          <th></th>
          <th></th>
          </thead>
          <tbody>
          
          </tr>
          <tr ng-repeat-start = "usuario in usuarios | filter:buscador">
              <td> {{usuario.id_usuario}} </td>
              <td ng-repeat="trabajador in trabajadors" ng-if="trabajador.id_trabajador == usuario.id_nombre"> 
              {{trabajador.nombres}} </td>
              <!-- <td> {{usuario.id_nombre}}</td> -->
              <td> {{usuario.login}} </td>
              <td> {{usuario.id_sucursal}} </td>
              <td> {{usuario.grupo_usuario}} </td>
              <td> {{usuario.fecha_creacion}} </td>
              <td ng-click="usuario_modal(usuario)" data-toggle="modal" data-target=" #myModal">
                <span class="glyphicon glyphicon-edit"></span> 
              </td>
              <td ng-click="deleteusuario(usuario,$index)"> <span class="glyphicon glyphicon-trash" >
              </span> </td>
          </tr>
          <tr ng-repeat-end></tr>
          </tbody>
        </table>
      </div>
      <br />
      </div>
</div>


<!-- MODAL -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content" ng-model="usuario">
    <form class="form-horizontal" ng-submit="usuario_modifica(usuario,usuario.id_usuario)">
     <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Editar</h4>
      </div>
    <div class="modal-body">
      <table width="100%" border="0" align="center" cellpadding="4" cellspacing="2">
        <thead>
        </thead>
        <tbody>
            <tr>
              <td align="right"><label type="text">Login * :</label></td><td><input type="text" class=""  ng-model="usuario.login" value="{{usuario.login}}" required/> </td>
              <td align="right"><label type="text">Trabajador :</label></td>
              <td> 
                <select ng-model="usuario.id_nombre" value="{{usuario.id_nombre}}" required>
                <option value="">-- Seleccione --</option>
                <option ng-repeat="trabajador in trabajadors" value="{{trabajador.id_trabajador}}"  title="" >{{trabajador.nombres}}  {{trabajador.apellidos}}</option>
                </select>
              </td>
            </tr>
            <tr>
              <td align="right"><label type="text">Password :</label></td><td> <input type="password" class="" ng-model="usuario.password" value="{{usuario.password}}" required/> </td>
              <td align="right"><label type="text">Firma digital :</label> </td>
              <td colspan="2">
                 <input type="file" fileread="usuario.logotipo" value="{{usuario.logotipo}}"/> 
              <!-- vista previa imagen -->
              </td>
            </tr>
            <tr>
              <td align="right"><label type="text">Grupo de Usuario : </label></td>
              <td>
                <select name="usuario" id="usuario" ng-model="usuario.grupo_usuario" value="{{usuario.grupo_usuario}}">
                   <option value="usuario.grupo_usuario" ng-selected="usuario.grupo_usuario">{{usuario.grupo_usuario}}</option>
                   <option value="Administrador" >Administrador</option>
                   <option value="Inventario" >Inventario</option>
                   <option value="R.R.H.H." >R.R.H.H.</option>
                   <option value="Ventas" >Ventas</option>
                   <option value="Contabilidad" >Contabilidad</option>
                   <option value="Activo" >Activo</option>
                </select>

              </td>
              <td align="right"><label type="text">Sucursal : </label></td>
              <td>
                 <select ng-model="usuario.id_sucursal" value="{{usuario.id_sucursal}}" required>
                  <option value="">-- Seleccione --</option>
                  <option ng-repeat="sucursal in sucursals" value="{{sucursal.id_sucursal}}"  title="" >{{sucursal.nombre_comercial}}</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>
                <img src="{{usuario.logotipo}}" width="100" width="100" >
              </td>
            </tr>
          </tbody>
        </table>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-success">Guardar Cambios</button>
      <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
    </div>
    </form>
    </div>
  <v>
</div>