<div class="container" style="position:absolute">
<h2>USUARIOS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div ng-model="sucursal">
  <form ng-submit="saveusuario(usuario)">
  <button type="submit" class="btn btn-primary" >Guardar</button>
	<button class="btn btn-danger">Cancelar</button>
	</h2>

	<ul class="nav nav-tabs">
    	<li ng-class="{'active' : activeTab == 1}"><a href="" ng-click="setActiveTab(1)">Nuevo</a></li>
    	<li ng-class="{'active' : activeTab == 2}"><a href="" ng-click="setActiveTab(2)">Listar</a></li>
    </ul>
    <div class="tab-content">
      <div ng-class="{'tab-pane active': activeTab === 1, 'tab-pane' : activeTab !== 1}" class="fondo-blanco">
      <!-- Uusuarios -->
      <br />
      
        <table width="100%" border="0" align="center" cellpadding="4" cellspacing="2">
          <thead>
          </thead>
          <tbody>
            <tr>
              <td align="right"><label type="text">Login * :</label></td><td><input type="text" class=""  ng-model="usuario.login"required/> </td>
              <td align="right"><label type="text">Trabajador :</label></td>
              <td> 
                <select ng-model="usuario.id_nombre" required>
                <option value="">-- Seleccione --</option>
                <option ng-repeat="trabajador in trabajadors" value="{{trabajador.id_trabajador}}"  title="" >{{trabajador.nombres}}{{trabajador.apellidos}}</option>
                </select>
              </td>
            </tr>
            <tr>
              <td align="right"><label type="text">Password :</label></td><td> <input type="password" class="" ng-model="usuario.password" required/> </td>
              <td align="right"><label type="text">Firma digital :</label> </td><td><input type="file" class="" /> </td>
            </tr>
            <tr>
            	<td align="right"><label type="text">Grupo de Usuario : </label></td>
            	<td>
            		<select name="rubro" id="rubro">
	                  <option value="servicio" selected="selected">Beni</option>
	                  <option value="Chuquisaca">Chuquisaca</option>
	                  <option value="Cochabamba">Cochabamba</option>
	                </select>
            	</td>
              <td align="right"><label type="text">Sucursal : </label></td>
              <td>
                 <select ng-model="usuario.id_sucursal" required>
                <option value="">-- Seleccione --</option>
                <option ng-repeat="sucursal in sucursals" value="{{sucursal.id_sucursal}}"  title="" >{{sucursal.nombre_comercial}}</option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
      </div>
      <div ng-class="{'tab-pane active': activeTab === 2, 'tab-pane' : activeTab !== 2}" class="fondo-blanco">
      <!-- LISTAR -->
      <br />
      <div class="col-md-12">
      	Buscar: <input type="text" placeholder="Buscar" ng-model="buscador" size="30">
      </div>

        <table width="100%" border="0" align="center" cellpadding="4" cellspacing="2" class="table-responsive">
          <thead>
          <th>N°</th>
          <th>Nombres</th>
          <th>Login</th>
          <th>Sucursal</th>
          <th>Grupo Usuario</th>
          <th>Fecha Creación</th>
          <th></th>
          <th></th>
          </thead>
          <tbody>
          
          <tr ng-repeat-start="usuario in usuarios | filter:buscador">
              <td> {{usuario.id_usuario}} </td>
              <td ng-repeat="trabajador in trabajadors"
                  ng-selected ="trabajador.id_trabajador == usuario.id_nombre"> 
              {{trabajador.nombres}} </td>
              <td> {{usuario.login}} </td>
              <td> {{usuario.id_sucursal}} </td>
              <td> {{usuario.grupo_usuario}} </td>
              <td> {{usuario.fecha_creacion}} </td>
              <td ng-click="evento_modal(evento)" data-toggle="modal" data-target=" #myModal">
                <span class="glyphicon glyphicon-edit"></span> 
              </td>
              <td ng-click="deleteusuario(usuario,$index)"> <span class="glyphicon glyphicon-trash" >
              </span> </td>
          </tr>
          <tr ng-repeat-end></tr>
          </tbody>
        </table>
      </div>
      <br />
      </div>
</div>










<!-- MODAL -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content"ng-model="evento">
    <form class="form-horizontal" ng-submit="evento_modifica(evento,evento.id_eventos)">
     <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Editar</h4>
      </div>
    <div class="modal-body">
      
      <div class="form-group" >        
        <label class="col-sm-2 control-label"> Id Evento</label>
          <div class="col-sm-4">
            <input type="text" value="{{evento.id_eventos}}"ng-model="evento.id_eventos"class="form-control"disabled="true"/>
          </div>
      </div>

      <div class="form-group" >        
        <label class=" control-label"> Estado</label>
          <div class="">
            <input type="text"value="{{evento.estado}}"ng-model="evento.estado"class="form-control"/>
          </div>
      </div>

      <div class="form-group" >        
        <label class=" control-label"> Titulo</label>
          <div class="">
            <input type="text"value="{{evento.titulo}}"ng-model="evento.titulo"class="form-control"/>
          </div>
      </div>
      
      <div class="form-group" >        
        <label class="control-label"> Fecha</label>
          <div class="">
            <input type="date" value="{{evento.fecha}}" ng-model="evento.fecha" class="form-control"/>
          </div>
      </div>

      <div class="form-group" >
        <label for="fecha" class=" control-label">Contenido</label>
          <div class="">
            <textarea  value="{{evento.contenido}}" ng-model="evento.contenido" class="form-control">
            </textarea>
          </div>
      </div>
    
      <div class="form-group" >
        <label for="imagen" class=" control-label">Imagen</label>
          <div class="">
          <input type="text" value="{{item.imagen}}" ng-model="item.imagen"/> <br>  
            <input type="file" ng-model="item.imagen" name="file" uploader-model="file" /> <br>  
            <img src="{{evento.imagen}}" height="150" width="150">
          </div>
      </div>
      
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-success">Guardar Cambios</button>
      <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
    </div>
    </form>
    </div>
  </div>
</div>